<% page_title "Account Upgrade" %>
<% meta_description "Upgrade to a Gold or Platinum account." %>

<%= render "users/secondary_links" %>

<div id="c-user-upgrades">
  <div id="a-new" class="fixed-width-container">

      <h1>Upgrade Account</h1>

      <p>We do not currently offer paid upgrades!</p>

    </div>
  </div>
</div>
